.bloco1 h1 {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 60px;
    padding-bottom: 28px;
}

.topicos {
    display: flex;
    vertical-align: top;
    justify-content: center;
    margin-top: 20px;
    height: 70%;
    width: 100%;
    
}

.topicos h2 {
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8px;
    font-weight: bold;
    align-items: center;
    width: 19vh;
}

.topicos img:hover {
    cursor: pointer;
}

.topicos li {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
}

#info {
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8px;
    font-weight: bold;
    padding-bottom: 20px;

}

.img {
    width: 180px;
}

.sinopse {
    line-height: normal;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: justify;
    height: 30%;
    align-items: center;
    padding: 13px 20px;
}


@media (max-width: 768px){

    .topicos {
        width: auto;
        height: auto;
        margin: 0;
        flex-direction: column;
    }
}